.expertise-section {
  --expertise-bg: linear-gradient(151deg, #ffff, #0051d5);
  --expertise-surface: #ffffff;
  --expertise-border: #ffffff;
  --expertise-text-primary: #0051d5;
  --expertise-tesssxt-secondary: #3d3d3d;
  --expertise-text-muted: #64748b;
  --expertise-accent: #3d3d3d;
  --expertise-accent-fixed: #dbe1ff;
  --expertise-accent-fixed-dark: #0051d5;
  --expertise-white: #F0F4F8;

  background-color: var(--expertise-bg);
}

.expertise-heading {
  color: var(--expertise-accent-fixed-dark);
}

.expertise-heading span {
  color: var(--expertise-text-primary);
}

.expertise-paragraph {
  color: var(--expertise-text-secondary);
}

.expertise-card {
  background-color: var(--expertise-surface);
  border-color: var(--expertise-border);
  box-shadow: 0 10px 30px -10px #dfdede;
  transition: all 0.3s ease;
}

.expertise-card:hover {
  box-shadow: 0 20px 40px -15px rgba(102, 102, 102, 0.767);
  transform: translateY(-4px);
}

/* .expertise-card:hover {
  background-color: var(--expertise-accent-fixed-dark) !important;
} */

.expertise-icon-wrapper {
  background-color: rgba(219, 225, 255, 0.2);
  /* Using accent-fixed with opacity */
  color: var(--expertise-accent-fixed-dark);
}

.expertise-card:hover .expertise-icon-wrapper {
  background-color: #0051D5;
  color: #ffffff;
}

.expertise-card-title {
  color: var(--expertise-text-primary);
}

.expertise-card-desc {
  color: var(--expertise-text-muted);
}

.expertise-link {
  color: var(--expertise-accent-fixed-dark/50);
}

.expertise-card:hover {
  color: #0051D5;
}